/*
* @author: Ian Goldstein
  @To Do List
    - Define Grid or Flexbox
    - Style Elements
    - Add Effects such as Hover
*/


body {
  background-color: rgb(214, 248, 221);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 3rem auto;
  max-width: 980px;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;

}

h1 {
  font-size: 3rem;
  margin: 0;
  text-shadow: 2px 2px white;
}

h2 {
  font-size: 2rem;
  margin: 0;
  text-shadow: 2px 2px white;
}

nav {
  font-size: 1em;
}

.nav-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 20px;
  padding: 20px 0;
}

a.logo {
  grid-column: span 2;
}

a.logo img {
  width: 100%;
  max-width: 180px;
  height: auto;
}

.nav-links {
  grid-column: span 6;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  line-height: 20px;
}


nav ul {
  list-style: none;
  text-align: center;
}

nav li {
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
}

nav li:hover {
  background-color: rgb(15, 139, 95);
}

nav li:hover a {
  color: white;
}


section {
  display: flex;
}

article {
  flex: 1;
  padding: 20px;
  margin: 10px;
  background-color: rgb(186, 225, 195);
  border-radius: 10px;
  background-size: cover;
}

.hero {


}

.reservations {
  background-image: url('./assets/backgrounds/reservation.jpg');
}

.visit {
  background-image: url('./assets/backgrounds/rome2.jpg');
}

.menu {
  color: white;
}

.menu h2 {
  text-shadow: 2px 2px black;
}



/* Animations */
.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

/** New Styles for Capstone **/

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

.main-space {
  grid-column: span 8;
}

.side-space {
  grid-column: span 2;
}

/** Footer **/

footer {
  margin-top: 10px;
  display: flex;
}

footer>div {
  flex: 1;
}

footer .copyright {
  text-align: right;
  margin: 80px, 0;
}

footer .logo {
  margin-top: 20px;
  margin-left: 5px;
  max-height: 150px;
  width: auto;
}

footer ul {
  list-style: none;
  padding: 0;
  line-height: 120%;
}

footer li, footer li a {
  color: black;
}

/* Login.css */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;

  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  border-radius: 4px;
  background-color: rgb(76, 99, 76);
  color: white;
  width: 300px;
}

.login-form h2 {
  color: white;
  text-decoration: none;
  text-shadow:none
}

.login-form label {
  margin: 10px 0;
  width: 100%;
  line-height: 200%;
}

.login-form input[type="text"], .login-form input[type="password"] {
  padding: 10px;
  margin-left: 0px;
  width: 90%;
  border: 1px solid rgb(150, 150, 150);
  border-radius: 4px;
  background-color: rgb(61, 82, 61);
  color: white;
}

.login-form input[type="submit"] {
  margin-top: 20px;
  background-color: rgb(56, 74, 56);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  align-self: center;
  font-weight: bold;
  border: 1px solid rgb(150, 150, 150);
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.10);
}

.login-form input[type="submit"]:hover {
  background-color: rgb(28, 57, 28);

}
